.card {
    width: 100%;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    user-select: none;
}


.subtitle {
    font-weight: 600;
}

.card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.card .row .htag {
    width: max-content;
    height: max-content;
    /* padding: 5px 10px;
color: rgb(0, 193, 0);
border: 1px solid rgba(0, 149, 0, 0.368);
background: rgba(12, 255, 12, 0.261); */
    border-radius: 5px;
}

.card .name {
    font-weight: 600;
    padding: 0 10px;
    font-size: 18px;
}

.card .desc {
    font-size: 13px;
    color: #2c2c2c;
    padding: 0 10px;
    margin-top: 5px;
}


.card .tags {
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin: 5px 0;
    margin-top: 10px;
}

.card .tags .tag {
    width: max-content;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px 10px;
    border-radius: 5px;
}

.card .class {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding: 0 10px;
}

.card .info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 13px;
}

.card .row.bd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
}

.card .row.bdt {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 20px;
    padding-top: 10px;
    /* justify-content: flex-start; */
    /* text-align: center; */
}

.card .row.bdt .info .subtag {
    font-size: 12px;
    color: #2c2c2c;
}

.card .row.bdt .vbtn {
    width: max-content;
    height: max-content;
    padding: 5px;
}